.Toastify__toast-container {
  z-index: 99999;

  .Toastify__toast {
    padding: 16px 24px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
  }

  .Toastify__toast--success {
    background: #fff;
    color: #616161;

    &::before {
      content: '\f12a';
      display: inline-block;
      font-family: dashicons;
      font-size: 26px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      color: #52c41a;
      margin-top: 6px;
      margin-right: 10px;
    }

    .Toastify__progress-bar {
      background-color: rgba(82, 196, 26, 0.75);
    }

    .Toastify__close-button {
      color: #aaa;
    }
  }
}
