$primary-color: #006eef;

@import './styles/toastify.scss';

.wrap {
  margin-top: 25px;
}

.texty-container {
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;
}

.texty-two-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .texty-col {
    flex: 0 48%;
  }
}

.texty-header-wrap {
  background: #fff;
  margin: 0 0 0 -20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  .texty-header {
    display: flex;
    align-items: center;
    padding: 15px 0;
  }

  .texty-admin-header__logo {
    display: flex;
    align-items: flex-end;

    img {
      height: 28px;
      width: auto;
    }

    span {
      margin-left: 8px;
      font-family: Consolas, Monaco, monospace;
      font-size: 11px;
      background: #ffe6c4;
      padding: 1px 7px;
      border-radius: 3px;
    }
  }

  .texty-admin-header__menu {
    flex-basis: 100%;
    text-align: right;
    padding-right: 6px;

    a {
      text-decoration: none;
      margin-left: 5px;
      color: #4c4c4c;
      padding: 8px 20px 8px 15px;

      &:hover {
        background-color: #f5f5f5;
        border-radius: 3px;
      }

      span.title {
        margin-left: 5px;
      }

      &.active {
        background-color: $primary-color;
        border-radius: 3px;
        color: #f5f5f5;
      }
    }

    a.header-link--cta {
      background-color: #ff5722;
      color: #fff;
      border-radius: 3px;
      padding: 8px 10px;

      &:hover {
        background-color: #ff6a3c;
      }
    }
  }
}

.texty {
  .mt-1 {
    margin-top: 5px;
  }

  .mt-2 {
    margin-top: 10px;
  }

  .mt-3 {
    margin-top: 15px;
  }

  .mt-4 {
    margin-top: 20px;
  }

  .components-base-control {
    margin-bottom: 15px;
  }

  .components-base-control__label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .components-text-control__input,
  .components-textarea-control__input,
  .react-tel-input .form-control {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
    color: #333;
    display: block;
    font-size: 16px;

    &:focus {
      border-color: darken($primary-color, 5%);
      box-shadow: 0 0 1px darken($primary-color, 5%);
    }
  }

  .monospace .components-textarea-control__input {
    font-family: Consolas, Monaco, monospace;
    font-size: 14px;
  }

  .react-tel-input {
    .form-control {
      line-height: normal;
      height: auto;
      padding-left: 54px;
      width: 100%;
    }

    .selected-flag {
      width: 45px;

      .arrow {
        left: 58px;
      }
    }
  }

  .components-select-control {
    .components-input-control__container {
      border-radius: 4px;

      select {
        font-size: 14px;
      }
    }

    .components-input-control__backdrop {
      border-color: #ddd;
    }
  }

  .components-base-control__help {
    margin-top: 5px;
    font-size: 1em;
  }

  .components-card {
    margin: 30px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    .components-card__header {
      font-size: 18px;
      padding: 20px 30px;
      font-weight: 500;
    }

    .components-card__body {
      padding: 30px;
    }

    .has-panel.components-card__body {
      padding: 20px 30px;
    }
  }

  .components-panel {
    border: none;

    .components-panel__body {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }

      &.is-opened {
        border: 1px solid #e0e0e0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      }

      .components-panel__body-title {
        .components-button {
          display: flex;
        }

        span.label {
          margin-left: auto;
          margin-right: 50px;
          font-size: 11px;
          padding: 3px 10px;
          border-radius: 12px;
          display: inline-block;
          line-height: 1.5;
          background-color: #ddd;

          &.active {
            background-color: #31c48d;
            color: #fff;
          }
        }
      }

      &.is-opened {
        margin-bottom: 20px;

        .components-panel__body-title {
          border-bottom: 1px solid #e0e0e0;
          margin-bottom: 20px;
        }
      }
    }
  }

  .components-button {
    border-radius: 4px;

    &.is-primary {
      background-color: $primary-color;
      padding: 0 18px;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    &.large {
      font-size: 16px;
      padding: 0 24px;
      height: 48px;
    }
  }

  .components-notice {
    margin-left: 0;
    margin-right: 0;

    .dashicon {
      margin-right: 10px;
    }

    .dashicons-yes-alt {
      color: #4ab866;
    }

    .dashicons-dismiss {
      color: #cc1818;
    }
  }

  .components-form-toggle {
    &.is-checked {
      .components-form-toggle__track {
        background-color: $primary-color;
      }
    }
  }

  .components-toggle-control {
    .components-toggle-control__label {
      font-size: 16px;
    }
  }

  .submit-area {
    display: flex;
    justify-content: flex-end;
  }
}

.texty-settings {
  .texty-settings__form {
    // margin-top: 30px;
  }

  .settings-row {
    padding-bottom: 20px;
  }

  .settings-row__label label {
    font-size: 1em;
    font-weight: 500;
  }

  .settings-row__field {
    margin-top: 15px;
  }

  .settings-row__gateways {
    display: flex;
  }

  .gateway-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    background: #fff;
    margin-right: 15px;
    padding: 20px 15px;
    border-radius: 5px;
    // box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px,
    //   rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
    text-align: center;
    cursor: pointer;
    opacity: 0.4;
    position: relative;
    border: 1px solid #e0e0e0;

    svg.active-icon {
      display: none;
      color: #31c48d;
      position: absolute;
      right: 1em;
      top: 1em;
      height: 2em;
    }

    &.active {
      opacity: 1;
      border: 2px solid darken($primary-color, 5%);

      svg.active-icon {
        display: block;
      }

      .gateway-card__heading {
        font-weight: 500;
      }
    }

    .gateway-card__logo {
      height: 32px;

      img {
        max-width: 90px;
        max-height: 24px;
      }
    }

    .gateway-card__heading {
      font-size: 1.2em;
      margin-top: 8px;
    }
  }
}
