.Toastify__toast-container {
  z-index: 99999;

  .Toastify__toast {
    padding: 16px 24px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
  }

  .Toastify__toast--success {
    background: #fff;
    color: #616161;

    &::before {
      content: '\f12a';
      display: inline-block;
      font-family: dashicons;
      font-size: 26px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      color: #52c41a;
      margin-top: 6px;
      margin-right: 10px;
    }

    .Toastify__progress-bar {
      background-color: rgba(82, 196, 26, 0.75);
    }

    .Toastify__close-button {
      color: #aaa;
    }
  }
}

.textly-admin-header {
  background: #fff;
  padding: 15px 15px 15px 22px;
  margin: 0 0 0 -20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  .textly-admin-header__logo {
    display: flex;
    align-items: flex-end;

    img {
      height: 28px;
      width: auto;
    }

    span {
      margin-left: 8px;
      font-family: Consolas, Monaco, monospace;
      font-size: 11px;
      background: #ffe6c4;
      padding: 1px 7px;
      border-radius: 3px;
    }
  }

  .textly-admin-header__menu {
    flex-basis: 100%;
    // text-align: right;
    padding-right: 6px;

    a {
      text-decoration: none;
      margin-right: 10px;
      color: #4c4c4c;
      padding: 8px 10px;

      &:hover {
        background-color: #f5f5f5;
        border-radius: 3px;
      }

      span.title {
        margin-left: 5px;
      }
    }

    a.header-link--cta {
      background-color: #ff5722;
      color: #fff;
      border-radius: 3px;
      padding: 8px 10px;

      &:hover {
        background-color: #ff6a3c;
      }
    }
  }
}

.textly {
  .mt-1 {
    margin-top: 5px;
  }

  .mt-2 {
    margin-top: 10px;
  }

  .mt-3 {
    margin-top: 15px;
  }

  .mt-4 {
    margin-top: 20px;
  }

  .components-base-control {
    margin-bottom: 15px;
  }

  .components-base-control__label {
    display: block;
    font-weight: 500;
  }

  .components-text-control__input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 7px 12px;
    color: #333;
    display: block;
    max-width: 400px;
  }

  .components-base-control__help {
    margin-top: 5px;
    font-size: 1em;
  }

  .components-notice {
    margin-left: 0;
    margin-right: 0;

    .dashicon {
      margin-right: 10px;
    }

    .dashicons-yes-alt {
      color: #4ab866;
    }

    .dashicons-dismiss {
      color: #cc1818;
    }
  }
}

.textly-settings {
  .textly-settings__form {
    margin-top: 30px;
  }

  .settings-row {
    padding-bottom: 20px;
  }

  .settings-row__label label {
    font-size: 1em;
    font-weight: 500;
  }

  .settings-row__field {
    margin-top: 15px;
  }

  .settings-row__gateways {
    display: flex;
  }

  .gateway-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    background: #fff;
    margin-right: 15px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px,
      rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    position: relative;

    svg.active-icon {
      display: none;
      color: #31c48d;
      position: absolute;
      right: 1em;
      top: 1em;
      height: 2em;
    }

    &.active {
      opacity: 1;

      svg.active-icon {
        display: block;
      }
    }

    .gateway-card__logo {
      height: 32px;

      img {
        max-width: 90px;
        max-height: 24px;
      }
    }

    .gateway-card__heading {
      font-size: 1.2em;
      margin-top: 8px;
    }
  }

  .submit-area {
    // margin-top: 25px;
  }
}

.textly-tools {
  .textly-settings__form {
    display: flex;

    fieldset {
      margin-right: 15px;
    }

    button {
      margin-top: 23px;
    }
  }
}
