.textly-admin-header {
  background: #fff;
  padding: 15px 15px 15px 22px;
  margin: 0 0 0 -20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  .textly-admin-header__logo {
    display: flex;
    align-items: flex-end;

    img {
      height: 28px;
      width: auto;
    }

    span {
      margin-left: 8px;
      font-family: Consolas, Monaco, monospace;
      font-size: 11px;
      background: #ffe6c4;
      padding: 1px 7px;
      border-radius: 3px;
    }
  }

  .textly-admin-header__menu {
    flex-basis: 100%;
    text-align: right;
    padding-right: 6px;

    a {
      text-decoration: none;
      margin-left: 10px;
      color: #4c4c4c;
      padding: 8px 5px;

      &:hover {
        background-color: #f5f5f5;
        border-radius: 3px;
      }

      span.title {
        margin-left: 5px;
      }
    }

    a.header-link--cta {
      background-color: #ff5722;
      color: #fff;
      border-radius: 3px;
      padding: 8px 10px;

      &:hover {
        background-color: #ff6a3c;
      }
    }
  }
}
